{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_question_report/attempt
}}

<div class="block_question_report">
    <h2>{{quizname}}</h2>
    <hr class="mt-2 mb-3 seperator">
    <div>
        <a class="btn btn-secondary" id="back-to-course" href="{{{back}}}">
            {{#str}}back, block_question_report{{/str}}
        </a>
        {{{contenthelp}}}
        <div class="clear-button"></div>
    </div>
    <hr class="mt-4 mb-2 seperator">
    <h3 class="attempts">{{#str}}attempts, block_question_report{{/str}}:</h3>
    {{#attempts}}
        <a href="{{{url}}}" class="mr-1 btn {{#active}}btn-primary{{/active}}{{^active}}btn-secondary{{/active}}">
            <span class="name">
                {{id}}
            </span>
        </a>
    {{/attempts}}
    <hr class="mt-2 mb-2 seperator">
    {{#chartvisible}}
        <h3 class="totalrating">{{#str}}totalrating, block_question_report{{/str}}:</h3>
        <div>
            {{#chart}}
                {{{chart}}}
                {{#chart}}
                    <button class="btn btn-secondary" id="download-graph" data-name="{{quizname}}"
                            data-attemptid="{{attemptid}}">
                        {{#str}} download, block_question_report{{/str}}
                    </button>
                {{/chart}}
            {{/chart}}
        </div>
    {{/chartvisible}}
    {{#tablevisible}}
        <h3 class="partrating {{^chartvisible}}extra-marging{{/chartvisible}}">{{#str}}
            partrating, block_question_report{{/str}}:</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{#str}}table_name, block_question_report{{/str}}</th>
                <th scope="col">{{#str}}table_percentage, block_question_report{{/str}}</th>
                <th scope="col">{{#str}}table_feedback, block_question_report{{/str}}</th>
                <th scope="col">{{#str}}table_progress, block_question_report{{/str}}</th>
                <th scope="col">{{#str}}table_avgprogress, block_question_report{{/str}}</th>
            </tr>
            </thead>
            <tbody>
            {{#results}}
                <tr>
                    <td>
                        <b>{{name}}</b>
                    </td>
                    <td>
                        <b>{{fraction}}</b>
                    </td>
                    <td>
                        <b>{{feedback}}</b>
                    </td>
                    <td>
                        <div class="progressbar">
                            <div class="own-progress" style="width: {{percentage}}%; background-color: {{color}}">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="progressbar">
                            <div class="own-progress" style="width: {{avg}}%; background-color: {{avgcolor}}">
                            </div>
                        </div>
                    </td>
                </tr>
                {{#subpoints}}
                    <tr>
                        <td class="no-border">
                            {{name}}
                        </td>
                        <td class="no-border">
                            {{fraction}}
                        </td>
                        <td class="no-border">
                            {{feedback}}
                        </td>
                        <td class="no-border">
                            <div class="progressbar">
                                <div class="own-progress" style="width: {{percentage}}%; background-color: {{color}}">
                                </div>
                            </div>
                        </td>
                        <td class="no-border">
                            <div class="progressbar">
                                <div class="own-progress" style="width: {{avg}}%; background-color: {{avgcolor}}">
                                </div>
                            </div>
                        </td>
                    </tr>
                {{/subpoints}}
            {{/results}}
            </tbody>
        </table>
    {{/tablevisible}}
</div>